@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* body{
    font-family: 'Poppins', sans-serif !important;
    width: 100% !important;
    
} */
.border-radius-7{
    border-radius: 7px;
}
.border-radius-10{
    border-radius: 10px;
}
.shadow-sm {
    box-shadow: 0 0 1.25rem rgba(11,37,75,.05);
}
.shadow {
    box-shadow: 0 0 1.25rem rgba(11,37,75,.05);
}

.shadow-hover {
    transition: 0.5s ease-in-out;
}

.border-top{
	border-top: 1px solid rgb(212, 212, 212);
}

.box-image {
    height: 78px;
    width: 78px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
	
}
.desc-profile{
    width: 100%;
}

.bg-cover{
    background-image: url('../theme/images/slider/bg1.jpg') !important;
    background-repeat: no-repeat !important; 
    background-size: 100% !important;
}

.btn-circle{
    border-radius: 50% !important;
    overflow: hidden;
    width: 47px;
    height: 47px;
    line-height: 1.7em;
}

.center{
    justify-content: center !important;
}

.product-card {
	background-color: #fff;
	box-shadow: 0 12px 17px rgba(129, 140, 151, 0.1);
}
.product-card .product-image {
	height: 250px;
	position: relative;
}
.product-card .product-image .product-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.product-card .product-details {
	position: relative;
}
/* .product-card .product-details a:hover {
	text-decoration: none;
	color: #0062cc;
} */

.text-truncate--2 {
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
}

.rating-stars {
	display: inline-block;
	position: relative;
	width: 90px;
}
.rating-stars:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #eee;
}
.rating-stars .filled-star {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffc107;
}
.rating-stars img {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
}

.produk-author {
	height: 40px;
	width: 40px;
	border-radius: 40px;
	margin-right: 10px;
}

.produk-footer {
	border-top: 1px solid rgb(212, 212, 212);
	bottom: 0;
	left: 0;
	width: 100%;
}

.blog-card {
	background-color: #fff !important;
	box-shadow: 0 12px 17px rgba(129, 140, 151, 0.1);
}
.blog-card .blog-image {
	width: 40%;
	height: auto;
	position: relative;
}
.blog-card .blog-image-produk {
	width: 50%;
}
@media only screen and (max-width: 992px) {
	.blog-card .blog-image {
		max-height: 300px;
		width: 100%;
	}
	.blog-container{
		margin-top: 45px !important
	}
	.blog-thumbnail {
		max-height: 300px;
		border-top-left-radius: 7px !important;
		border-top-right-radius: 7px !important;
		border-bottom-left-radius: 0px !important;
	}
}
.blog-card .blog-image .blog-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
@media only screen and (min-width: 992px) {
	.blog-card .blog-image .blog-thumbnail {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.blog-card .blog-container {
	position: relative;
	flex: 1;
	padding-bottom: 85px !important;
}
.blog-card .blog-container a:hover {
	text-decoration: none;
	/* color: #0062cc; */
}
.blog-card .blog-container .blog-category {
	background: rgba(40, 167, 69, 0.1);
	color: #28a745;
}
.blog-author {
	height: 40px;
	width: 40px;
	border-radius: 40px;
	margin-right: 10px;
}
.blog-card .blog-container .blog-footer {
	padding: 15px 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.owl-prev .owl-nav-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.owl-prev .owl-nav-wrapper svg, .owl-prev .owl-nav-wrapper i {
	color: #ffffff;
	width: 20px;
	height: 20px;
}

.owl-next .owl-nav-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}
  
.owl-next .owl-nav-wrapper svg, .owl-next .owl-nav-wrapper i {
	color: #ffffff;
	width: 20px;
	height: 20px;
}
  
.owl-dots {
	text-align: center;
	margin-top: .5rem;
}
  
.owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #cbcbcb !important;
	margin-right: 5px;
	display: inline-block;
}
  
.owl-dots .owl-dot.active {
	background: #757575 !important;
}

.event-list .event-item {
    height: 190px;
    padding: 1rem 1.9rem;
    margin: 0 0.9375rem 1.875rem 0.9375rem;
    background-color: #ffffff;
    border-radius: 8px;
    border: solid 1px rgba(105, 63, 63, 0.479);
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.event-list .event-item.featured {
    border: 1.5px solid #68cbd7;
}

.event-list .event-item .event-schedule {
    color: #3c4142;
    margin-bottom: 0.625rem;
}

.event-list .event-item .event-schedule .event-icon {
    stroke-width: 1px;
    width: 1.125rem;
    height: 1.125rem;
    margin: 0.6875rem 1rem 0 0;
}

.event-list .event-item .event-schedule .event-day {
    margin-right: 0rem;
    line-height: 100%;
}

.event-list .event-item .event-schedule .event-month-time {
    font-weight: 200;
    font-size: 22px;
    display: flex;
    line-height: 118%;
    flex-direction: column;
    justify-content: center;
}

.event-list .event-item .event-schedule .event-month-time span {
    display: block;
    text-transform: uppercase;
}

.event-list .event-item .event-title {
    display: block;
    margin-bottom: 0.625rem;
    font-weight: 300;
    color: #3c4142;
}

.event-list .event-item .event-title:hover {
    color: #68cbd7;
    text-decoration: none;
}

.event-list .event-item .event-content {
    color: #b1bac5;
    margin-bottom: 0.625rem;
    font-size: 12px;
    font-weight: 300;
}

.event-list .event-item .event-participants {
    padding: 0;
    margin: 0;
}

.event-list .event-item .event-participants .event-user {
    width: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.event-list .event-item .event-participants .event-user .event-user-inital {
    font-size: 13px;
    line-height: 100%;
}

.event-list .event-item .event-participants {
    display: flex !important;
}

.event-list .event-item .event-participants .event-user .event-user-pic {
    width: 100%;
    border-radius: 50%;
}

.event-list .event-item .event-participants li + li {
    margin-left: -10px;
}


.event-list .event-item .event-participants {
    flex-direction: row !important;
}
.event-list .event-item .event-participants {
    padding: 0;
    margin: 0;
}
.event-list .event-item .event-schedule, .event-list .event-item .event-participants{
    display: flex !important;
}
.owl-carousel .owl-item .produk-footer img {
    display: block !important;
    width: 0% !important;
}
.blog-featured_post h5{
	line-height: 1.3 !important;
}
.vm{
	vertical-align: middle !important;
}

@media(max-width: 768px){
	.slider_title h1{
		font-size: 16px !important;
	}
	.slider_title h4{
		font-size: 12px !important;
	}
	.btn-default{
		padding: 5px !important;
		text-align: center !important;
    	margin: 0px 0 0 !important;
	}
	#cover-mobile{
        display: block;
        margin-top: 60px;
    }
    /* .owl-item p{
        font-size: 12px !important;
    }
    .owl-item h3{
        font-size: 16px !important;
    } */
}
